<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:useTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="WcfServiceREST.ServiceREST" behaviorConfiguration="serviceBehaviour" >
        <endpoint address="" binding="webHttpBinding" contract="WcfServiceREST.IServiceREST" behaviorConfiguration="web"/>
      </service>
    </services>
  </system.serviceModel>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https"/>
    </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"  multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>